* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #000 0%, #2abdbb 100%);
    color: #fff;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    text-align: center;
}

.navbar {
    background-color: #23252b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
}

.logo {
    max-width: 200px;
}

.navbar {
    background-color: #23252b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
}

.logo {
    max-width: 200px;
}

.nav-menu {
    list-style: none;
    padding: 0;
    display: flex;
}

.nav-menu li {
    margin-right: 20px;
}

.nav-menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-menu a:hover {
    color: #00bfff;
}

button {
    background-color: #F15D30;
    border: none;
    padding: 10px 20px;
    margin-left: 20px;
    border-radius: 20px; 
}

button a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

button:hover {
    background-color: #ff9000;
}

section {
    padding: 40px;
    color: #fff;
    text-align: left; 
    border-radius: 20px; 
    margin: 20px 0; 
    background-color: rgba(0, 0, 0, 0.8);
}

.section-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #F15D30;
    text-transform: uppercase;
}


.character-card {
    padding: 20px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.8);
}

.character-card img {
    max-width: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.character-name {
    font-size: 24px;
    font-weight: bold;
    color: #F15D30;
    margin-right: 10px; 
}

.character-description {
    font-size: 18px;
    color: #fff;
    margin-left: 10px; 
}
